.button {
    letter-spacing: 0.1em;
    padding: 0.5em 1em;
    transition: 0.5s;
    position: relative;
    background: #333;
    border: none;
}

.button:hover {
    background: rgb(59 130 246);
    color: rgb(59 130 246);
    box-shadow: 0 0 45px rgb(59 130 246);
}

.button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
}

.button span {
    position: relative;
    z-index: 1;
}

.button i {
    position: absolute;
    inset: 0;
    display: block;
}

.button i::before {
    content: '';
    position: absolute;
    border: 2px solid rgb(59 130 246);
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.button:hover i::before {
    width: 20px;
    left: 20%;
}

.button i::after {
    content: '';
    position: absolute;
    border: 2px solid rgb(59 130 246);
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.button:hover i::after {
    width: 20px;
    left: 80%;
}
